:root {
  --bg-color: lightgreen;
  --turn-transition: transform 100ms;
}

body {
  background: var(--bg-color);
}

img {
  width: 200px;
}

#car {
  display: absolute;
  transition: var(--turn-transition);
}
